@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
html, body{
  background: url('./images/road.png')no-repeat center center fixed; 
  background-size: cover;
}
body {
  font-family: "EB Garamond", serif;
  text-align: right;

}

img {
  width:100%;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.8);
  color: #1c1c1c;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  
}
.home {
  margin-top:10px;
  font-weight: bold;
  font-size: 20px; 
}

.fa-lg {
  padding: 10px;

}
.aboutus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #1c1c1c;
  text-shadow: none;
  margin-top:100px;
}
.card {
  margin:20px;
}
.carousel {
  margin-bottom: 20px;
}
.logo{
  width: 125px;
}

* {
  box-sizing: border-box;
}

.map {
  margin: 50px;
}
